* {
    box-sizing: border-box;
}

.text-primary2 {
    color: var(--primaryColor) !important;
}

.detail-img-header {
    display: block;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}

.detail-img-small button {
    width: 100%;
    border: 3px solid transparent;
    background-color: transparent;
    margin-left: -3px;
}

.detail-img-small .img {
    display: block;
    /* width: 25%; */
    width: 100%;
    height: 120px;
    background-position: center 2%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid white;
}

.detail-img-small .img:hover, .detail-img-small .img.active {
    border: 3px solid var(--primaryColor);
    cursor: pointer;
}

.desc {
    padding: 30px;
}

.desc .form-select {
    width: 135px;
}

.qty-button {
    display: flex;
    align-items: center;
}

.qty-button input {
    width: 8%;
    padding: 9px 5px;
    border-radius: 3px;
    border: 1px solid lightgray;
    text-align: center;
}

.qty-button input:focus {
    border: 1px solid var(--primaryColor);
}

.qty-button button {
    margin-left: 20px;
    padding: 10px;
}

@media screen and (max-width: 640px) {
    .detail-img-header {
        height: 450px;
    }
}