.btn-main {
  background-color: var(--primaryColor);
}

.btn-main:hover {
  background-color: #2dad43 !important;
}

.card {
  border: none;
}

.card-desc {
  display: -webkit-box;
  max-width: 94%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: auto;
}

.hr {
  display: block;
  width: 30%;
  height: 3px;
  background-color: var(--primaryColor);
  border-radius: 20px;
  margin: auto;
}

.formTemplate h1 {
  font-weight: 700;
  margin-top: 50px;
}
.formTemplate p {
  margin: 30px 0;
}
.formTemplate .inputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.formTemplate form div {
  margin-bottom: 30px;
}
.formTemplate label {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}
.formTemplate input {
  display: block;
  width: 340px;
  height: 40px;
  outline: none;
  padding: 5px 10px;
  background-color: #ffffff;
  border: 1.5px solid #d5f3a8;
  border-radius: 5px;
  /* box-shadow: 0 1px 5px rgba(0,0,0,0.1); */
  transition: 0.15s;
}
.formTemplate input:focus {
  box-shadow: 0px 0 6px #8fbd4b;
}
.formTemplate a {
  text-decoration: none;
}

.createButton {
  text-align: center;
  width: 10em;
  border: none;
}
