.btn-main {
  background-color: var(--primaryColor);
  border: 2px solid var(--mainColor) !important;
}

.btn-main:hover {
  background-color: #2dad43 !important;
}

.card {
  border: none;
}

.card-desc {
  display: -webkit-box;
  max-width: 94%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: auto;
}

.hr {
  display: block;
  width: 30%;
  height: 3px;
  background-color: var(--primaryColor);
  border-radius: 20px;
  margin: auto;
}

.formTemplate p {
  margin: 30px 0;
}

.formTemplate form div {
  margin-bottom: 30px;
}

.formTemplate label {
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

.formTemplate input {
  display: block;
  width: 100%;
  outline: none;
  padding: 5px 10px;
  background-color: #ffffff;
  border: 1.5px solid #d5f3a8;
  border-radius: 5px;
  /* box-shadow: 0 1px 5px rgba(0,0,0,0.1); */
  transition: 0.15s;
}
.formTemplate input:focus {
  box-shadow: 0px 0 6px #8fbd4b;
}
.formTemplate a {
  text-decoration: none;
}

.cart-button {
  top: 5%;
  left: 5%;
  padding: 9px 10px 7px 10px;
}

.cart-button h5 {
  font-size: 16px;
}

.createButton {
  background-color: var(--primaryColor) !important;
  text-align: center;
  width: 10em;
  border: none;
}

.clothes .card-img-top {
  display: block;
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clothes-header {
  margin-top: 86px;
}

.btn-pagination {
  border: 2px solid var(--primaryColor);
  color: var(--mainColor);
}

.btn-pagination:hover, .btn-pagination.active {
  background-color: var(--mainColor) !important;
  color: var(--primaryColor) !important;
  border: 2px solid var(--mainColor);
}
.search-btn {
  background-color: var(--primaryColor) !important;
  color: white;
}

.search-btn:hover {
  background-color: #2dad43 !important;
}

.search-input:focus {
  border: 1px solid var(--primaryColor);
}
