.login{
	height: 100vh;
}

.login .login-left   h1{  
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px; 
    color: #000000;
}

.login .login-left   p{ 
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    color: #787597;
    margin-bottom: 20px; 
}

.login-form label{ 
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color:  #302D43;
    margin-top: 24px;
    margin-bottom: 8px; 
}

.login-form input{ 
    background: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #B9B6D2;
    border-radius: 6px;
}

.login .login-left .login-form .sp{ 
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px; 
    color: #302D43;
    margin-bottom: 30px;
    display: block; 
}

.login-form .button-login{
	width: 100%;
	background: #3DCD55;
    font-size: 16px;
    color: #fff;
    border: none;
} 

/* .login .login-right h5{
	font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px; 
    text-align: center; 
    color: #FFFFFF; 
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
} */

.login-img {
    display: block;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}