/* JANGAN DI EDIT, KECUALI LEAD */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

:root {
  --mainColor: #252336;
  --primaryColor: #3dcd55;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.bg-light-primary {
  background-color: #f1fff8;
}

.cursor-pointer {
  cursor: pointer;
}

.fw-medium {
  font-weight: 500;
}

.small {
  font-size: 12px;
}

.normal {
  font-size: 14px;
}