.navbar span, footer span {
  display: inline-block;
  color: var(--primaryColor);
}

.navbar .rotate, footer .rotate {
  transform: rotate(-90deg);
}

.navbar .nav-link {
  color: var(--mainColor) !important;
}

.navbar .nav-link:hover {
  color: var(--primaryColor) !important;
}

.navbar .nav-link.active {
  color: var(--primaryColor) !important;
}

.navbar .fill {
  position: absolute;
  top: 0;
  right: -4px;
  width: 10px;
  height: 10px;
  background-color: var(--primaryColor);
  border-radius: 100%;
}

.navbar .btn-login {
  background-color: var(--primaryColor);
  color: white !important;
  font-weight: 600;
}

.navbar .btn-login:hover {
  background-color: #2fab41;
}

footer {
  margin-top: 7em;
}

footer .link, footer .sosial, .navbar .nav-link {
  transition: all .2s;
}

footer .link:hover {
  color: var(--primaryColor) !important;
}

footer .sosial {
  background-color: #d6ffdc;
  color: var(--primaryColor);
  border-radius: 100%;
  padding: 6px 10px;
}

footer .sosial:hover {
  color: white;
  background-color: var(--primaryColor);
}

.copyright {
  background-color: var(--primaryColor);
  text-align: center;
  padding: 30px 10px 24px 10px;
}
.foto-profil {
  width:150px;
  height:150px;
  object-fit:contain;
  object-position:center;
  float:left;
}
table {
  border: none;
  
}